<div class="row">
    <div class="col-lg-3 col-md-6">
    <h4><mat-icon class="c-1 wh">work</mat-icon>Task</h4> 
      <cdk-drop #firstList class="list"
        [data]="firstTeam" 
        [connectedTo]="[secondList, thirdList, fourthList]"  
        (dropped)="drop($event)">
        <div class="box b-1" *ngFor="let item of firstTeam" cdkDrag>
            <div class="flex-cont1">
                <div class="f-lg">{{item.job}}</div>
                <div><mat-icon>edit</mat-icon></div>
              </div> 
              <div class="pad">{{item.description}}</div>
              <div class="flex-cont1">
                <div class="font-s">
                  {{item.firstName}} {{item.lastName}}
                </div>
                <div>
                  <img class="rounded-circle img-thumb1" height="50" width="50" [src]="item.imageUrl">
                </div>
              </div> 
        </div>
      </cdk-drop>
    </div>
    
    <div class="col-lg-3 col-md-6">
      <h4><mat-icon class="c-2 wh">party_mode</mat-icon>In process</h4>       
      <cdk-drop #secondList class="list" 
        [data]="secondTeam" 
        [connectedTo]="[firstList, thirdList, fourthList]"  
        (dropped)="drop($event)">
        <div class="box b-2" *ngFor="let item of secondTeam" cdkDrag>
            <div class="flex-cont1">
                <div class="f-lg">{{item.job}}</div>
                <div><mat-icon>edit</mat-icon></div>
              </div> 
              <div class="pad">{{item.description}}</div>
              <div class="flex-cont1">
                <div class="font-s">
                  {{item.firstName}} {{item.lastName}}
                </div>
                <div>
                  <img class="rounded-circle img-thumb1" height="50" width="50" [src]="item.imageUrl">
                </div>
              </div> 
        </div> 
      </cdk-drop>
    </div>
  
    <div class="col-lg-3 col-md-6">
      <h4><mat-icon class="c-3 wh">update</mat-icon>In review</h4>      
      <cdk-drop #thirdList class="list"
        [data]="thirdTeam"
        [connectedTo]="[firstList, secondList, fourthList]"      
        (dropped)="drop($event)">
        <div class="box b-3" *ngFor="let item of thirdTeam" cdkDrag>
            <div class="flex-cont1">
                <div class="f-lg">{{item.job}}</div>
                <div><mat-icon>edit</mat-icon></div>
              </div> 
              <div class="pad">{{item.description}}</div>
              <div class="flex-cont1">
                <div class="font-s">
                  {{item.firstName}} {{item.lastName}}
                </div>
                <div>
                  <img class="rounded-circle img-thumb1" height="50" width="50" [src]="item.imageUrl">
                </div>
              </div>            
        </div>
      </cdk-drop>
    </div>
  
    <div class="col-lg-3 col-md-6">
      <h4><mat-icon class="c-4 wh">thumb_up_alt</mat-icon>Done</h4>      
      <cdk-drop #fourthList class="list"
        [data]="fourthTeam"
        [connectedTo]="[firstList, secondList, thirdList]"      
        (dropped)="drop($event)">
        <div class="box b-4" *ngFor="let item of fourthTeam" cdkDrag>
            <div class="flex-cont1">
              <div class="f-lg">{{item.job}}</div>
              <div><mat-icon>edit</mat-icon></div>
            </div> 
            <div class="pad">{{item.description}}</div>
            <div class="flex-cont1">
              <div class="font-s">
                {{item.firstName}} {{item.lastName}}
              </div>
              <div>
                <img class="rounded-circle img-thumb1" height="50" width="50" [src]="item.imageUrl">
              </div>
            </div>                                
                                              
        </div>
      </cdk-drop>
    </div>
    </div>